.nav-topic_path {
  margin-bottom: 2rem;
  @include mq('sp') {
    color: $color-white;
  }
  .material-icons {
    margin-left: 1rem;
  }
}

.nav-topic_path > a {
  text-decoration: underline;
}

.nav-title_path > a {
  display: block;
  margin-bottom: 1rem;
  &:hover {
    text-decoration: underline;
  }
}

.account-sp {
  @include mq('pc') {
    display: none;
  }
  &-img {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
    img {
      width: 100%;
      height: 100%;
      border-radius: 100vw;
    }
  }
}

.side_rank {
  width: 100%;
}

.side_rank-title {
  width: 100%;
  padding-bottom: .5rem;
  border-bottom: 1px solid  $color-light-gray;
  p {
    font-size: 1rem;
    text-align: center;
  }
}

.side_rank-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem 0;
}
