{% extends "mathQA/layouts/base.html" %}
{% load static %}
{% load md5url %}

{% block tab-title %}ログイン{% endblock %}

{% block body_class %}doorway{% endblock %}

{% block header-right_space %}
<a class="header-btn" href="{% url 'mathQA:login' %}">ログイン</a>
<a class="header-btn header-registerBtn" href="{% url 'mathQA:register' %}">新規登録</a>
{% endblock header-right_space %}

{% block nav %}
{% endblock %}

{% block level-body_tag %}
<article class="l-grid">
  <section class="l-grid-r doorway-msg">
    <div class="doorway-msg-wrapper">
      <h1 class="doorway-msg-title">ログイン</h1>
      <div class="doorway-msg-lead">
        <p>おかえりなさい！お待ちしておりました。</p>
      </div>
      <ul class="doorway-msg-point">
        <li>・便利な数式入力</li>
        <li>・受験数学から大学数学まで</li>
        <li>・数学のための質問場所</li>
      </ul>
    </div>
  </section>
  <section class="l-grid-l">
    {% csrf_token %}
    <div id="js-doorway" class="doorway-main-wrapper">
      <a class="doorway-goto" href="{% url 'mathQA:register' %}"><span
          class="material-icons">directions_run</span>新規登録はこちらから</a>
      <div class="doorway-section doorway-sns_login">
        <p class="doorway-section-title">SNSでログイン</p>
        <a href="{% url 'social:begin' 'twitter' %}">
          <p class="doorway-sns_login-icon">
            <img src="{% md5url 'img/twitter-icon.svg' %}" alt="Twitter icon">
          </p>
          <p class="doorway-sns_login-text">Twitterでログイン</p>
        </a>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <p class="doorway-sns_login-icon">
            <img src="{% md5url 'img/google-icon.svg' %}" alt="Google icon">
          </p>
          <p class="doorway-sns_login-text">Googleでログイン</p>
        </a>
        <a href="{% url 'social:begin' 'facebook' %}">
          <p class="doorway-sns_login-icon">
            <img src="{% md5url 'img/facebook-icon.png' %}" alt="Facebook icon">
          </p>
          <p class="doorway-sns_login-text">Facebookでログイン</p>
        </a>
      </div>
      <div class="doorway-section">
        <p class="doorway-section-title">ユーザネームまたはメールアドレスでログイン</p>
        <div class="doorway-main-item">
          <p>ユーザネームまたはメールアドレス</p>
        </div>
        <input id="js-userNameOrEmail" class="oneline_input doorway-input" type="text">
        <div class="doorway-main-item">
          <p>パスワード</p>
        </div>
        <input id="js-password" class="oneline_input doorway-input" type="password">
        <button id="js-loginBtn" class="normal_btn doorway-button input" type="button">ログイン</button>
        <div class="form-error">
          <p id="js-doorwayError">&nbsp;</p>
        </div>
      </div>
    </div>
  </section>
</article>
{% endblock level-body_tag %}

{% block r_sidebar %}
{% endblock r_sidebar %}

{% block fixer %}
{% endblock fixer %}

{% block footer %}
{% endblock footer %}

{% block js-end-load %}
<script defer src=" {% md5url 'js/login.js' %}"></script>
{% endblock %}